.headerDiv {
  width: 100%;
  min-height: 3.5rem;
}

ul.headerUl li {
  list-style: none;
  color: black;
  font-size: 1.1rem;
  font-weight: 600;
}

ul.headerUl a {
  text-decoration: none !important;
}

.submitButton {
  border: 0;
}

.submitButton:hover {
  opacity: 0.9;
}

.authPage {
  max-width: 40%;
}

.headerLogo {
  text-decoration: none;
  color: rgb(38, 39, 39);
}
